.background-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.form-control {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px 20px 35px 20px;
  border-radius: 10px;
  animation: animaModal 0.8s forwards;
}

.form-control .box-image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.form-control .box-image img {
  width: 40%;
}

.box-title-acessar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-title-acessar .title-acessar{
  font-weight: 600;
}

.box-submit-login {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #751b1b;
}
.input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #751b1b;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.submit-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0 1px #fff;
}

.submit-btn:hover {
  background-image: linear-gradient(to top, #fff 0%, #fff 80%, #d8d9db 100%);
  color: #751b1b;
}

@keyframes animaModal {
  0% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(1);
  }
}
